@import url("https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	@apply bg-slate-900 px-10;
	overflow-x: scroll;
	margin: 0;
	font-family: "tomorrow", -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	padding-left: 85px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.container {
	padding-top: 50px;
}

.page__header {
	position: relative;
	font-family: "Tomorrow";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 32px;
	letter-spacing: -0.01em;
	text-transform: uppercase;
	color: #ecf0ff;
	opacity: 0.9;
}

.trending-assets {
	position: relative;
	width: 1907px;
	height: 927px;
	display: flex;
	gap: 80px;
}

.card {
	@apply relative rounded-2xl;
	background: red;
	background: url("./assets/images/Vector.png") no-repeat;
	background-size: 100%;
	width: 291px;
	height: 351px;
	padding-top: 50px;
	margin-top: 100px;
}

.card__header {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;

	left: 33%;
	top: -50px;
	border-radius: 100%;
}

.card__content {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.card__headline {
	font-family: "Tomorrow";
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 31px;
	text-align: center;
	color: #737bae;
	opacity: 0.9;
}

.card__value__container {
	@apply border-t border-t-gray-700  rounded-full text-center py-1 font-medium;
	background: #14172b;
}

.card__value {
	font-family: "Tomorrow";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 31px;
	text-align: center;
	color: #ecf0ff;
	opacity: 0.9;
}

.card__pairs {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border-radius: 5000px;
	width: 120px;
	height: 40px;
	background: #14172b;
}

.card__subvalue__positive {
	padding-left: 10px;
	color: #00ffa3;
	font-size: 12px;
}

.card__subvalue__negative {
	padding-left: 10px;
	color: #ff4d4d;
	font-size: 12px;
}

.bitcoin-gradient {
	background: linear-gradient(
		180deg,
		rgba(98, 106, 136, 0.1) 0%,
		rgba(234, 179, 0, 0.06) 100%
	);
}

.solana-gradient {
	background: linear-gradient(
		180deg,
		rgba(98, 106, 136, 0.1) 0%,
		rgba(220, 31, 255, 0.1) 100%
	);
}

.ethereum-gradient {
	background: linear-gradient(
		180deg,
		rgba(98, 106, 136, 0.1) 0%,
		rgba(237, 240, 244, 0.1) 100%
	);
}

.binance-gradient {
	background: linear-gradient(
		180deg,
		rgba(98, 106, 136, 0.1) 0%,
		rgba(234, 179, 0, 0.06) 100%
	);
}

.shiba-gradient {
	background: linear-gradient(
		180deg,
		rgba(98, 106, 136, 0.1) 0%,
		rgba(228, 45, 4, 0.1) 100%
	);
}
